%flex-center
    display: flex
    justify-content: center
    align-items: center

.feed
    @extend %flex-center
    width: 100vw
    flex-direction: column-reverse

.post

h2
    font-size: 1.5em
hr
    width: 100%
